/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 @media screen and (min-width: 1000px){
    .main-header-container {
        width:1070px;
        float:center;
        margin-left:auto; 
        margin-right:auto;

    }
    #largura{
        width:1070px;
        float:center;
        margin-left:auto; 
        margin-right:auto;
        
    }
}

@media screen and (max-width: 10000px) {
    /* Estilização do css da barra superior em telas de computador */
    .imondelli-column{
        width: 100%;
        height:25px;
        color:white;
        background-color: #28000a;
        font-size:15px;
        overflow: hidden;
        
    }
    .padd{
        margin-left:auto; 
        margin-right:auto;
    }
    
    .icon-padd{
        padding-left:8px;
        padding-right:8px;
    }
    .imondelli-left{
        float:left;
    }
    .imondelli-center{
        text-align:center;	
    }
    .imondelli-right{
        float:right;
    }
    .link{
        text-decoration: none;
        color:white;
    }
    .link:hover{
        color:#EAD2AC;
    }
        .glink{
        padding-left: 10px;
        padding-right:10px
    }
    .imondelli-center{
        float:right;
    }

    /* Estilização css do botão e menu lateral no computador */
    .imondelli-button{
        background-color: #28000a;
    }
    .imondelli-button:hover{
        background-color: #28000a;
    }
    .imondelli-button:focus{
        background-color: #28000a;
    }
    .padding_superior_menu_lateral{
        padding-top: 80px
    }
    #menu_lateral{
        display:none;
        position: absolute;
        z-index: 1000;
        background-color:#3B0A11;
        color: white;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
        font-size:18px;
        height: 370;
        padding-top:30px;
        padding-bottom:30px;
        font-family:'Roboto';
        font-weight: 300;

    }
    .menu_lateral{
        padding-left:15px;
        padding-right:25px;
        
    }
    .titulo{
        color:white;
    }
    .link_menu{
        font-size:17px;
    }
    
    
}
@media screen and (max-width: 992px) {
      .imondelli-right{
        display:none;
    }
    
    
    .padd{
    padding-left:20px;
    padding-right:20px;
   }
}